/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 // カートindex内使用cssここから

 .greenline {
   position: relative;
   text-align: center;
 }
 .greenline span {
   position: relative;
   z-index: 2;
   display: inline-block;
   margin: 0 2.5em;
   padding: 0 1em;
   background-color: #fff;
   text-align: left;
 }
 .greenline::before {
   position: absolute;
   top: 50%;
   z-index: 1;
   content: '';
   display: block;
   width: 100%;
   height: 1px;
   background-color: #28da90;
 }

 .origin {
   margin-top: 0;
   color: #52bf57;
  border-bottom: dashed 2px #52bf57;
}

.boxborder{
    padding: 2.5em 1em;
    margin: 2em 0;
    color: #292a2b;
    background: #ecf5e8;
    border-bottom: solid 6px #b7deaa;
    border-radius: 9px;
}

.moneyfont{
  font-size: 20px;
}
.moneyfont2{
  font-size: 30px;
}

 .margin-bottom2{
   margin-bottom: 80px;
 }
 .margin-bottom3{
   margin-bottom: 50px;
 }

.height49{
   height:49.5px;
}
 .height100{
   height:100px;
 }

.margin-bottom{
  margin-bottom: 30px;
}
.deletecartbtn{
  margin-bottom: 20px;
}
.shoppingbtn{
  width: 178px;
}
// カートindex内使用cssここまで

// カートshow内使用cssここから
.htagmargin{
  margin: 0;
}
.relative{
  position: relative;
  height: 96px;
}
.absolute{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.underbar {
	position: relative;
	margin-bottom: 1em;
	text-align: center;
}
.underbar:before {
	content: '';
	position: absolute;
	bottom: -15px;
	display: inline-block;
	width: 5%;
	height: 5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #73bd6adb;
	border-radius: 2px;
}

.payselect{
  margin: 50px 0;
}

.simple_square_btn6 {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #76d27d59;
        border-radius: 30px;
	border:1px solid #1B1B1B;
	 -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.simple_square_btn6:hover {
	 cursor: pointer;
	 text-decoration: none;
	-webkit-animation: simple_square_btn6 0.5s both;
	-moz-animation: simple_square_btn6 0.5s both;
	        animation: simple_square_btn6 0.5s both;
}
@-webkit-keyframes simple_square_btn6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@-moz-keyframes simple_square_btn6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes simple_square_btn6 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.simple_square_btn4 {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #d0cccc3b;
	border-radius: 30px;
	border:1px solid #1B1B1B;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.simple_square_btn4:hover {
	 cursor: pointer;
	 text-decoration: none;
	-webkit-animation: simple_square_btn4 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: simple_square_btn4 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: simple_square_btn4 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes simple_square_btn4{
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}
@-moz-keyframes simple_square_btn4{
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}
@keyframes simple_square_btn4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

.ajast{
   display: flex;
   justify-content: space-around;
   margin-top: 60px;
   margin-bottom: 60px;
   height: 48px;
}

// arrivalshistory内使用cssここから

.tablecenter{
  margin: 80px auto;
}

.width{
  width:1200px;
  margin: 0 auto;
}
.parent{
  position: relative;
}
.arrivalbtn{
  position: absolute;
  right: 0;
}

.tdwidth{
  width:112.5px;
}

// arrivalshistory内使用cssここまで


// enduseredit内使用cssここから

.sketchborder {
  background-color: #6dde6d1f;
  border: 2px dashed #97a7a1;
  border-radius: 8px;
  box-shadow: 0 0 0 4px #a6cc93;
  color: black;
  margin: 2em 0;
  padding: 2em;
}

.long{
  width: 100%;
  height: 30px;
  border-radius: 6px;
}

.labelname{
  font-size: 16px;
  margin: 10px 0;
}

.btncenter{
  margin:20px auto 0;
  width: 146px;
}

.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background:#098640;
  border-bottom: solid 2px #03d200;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

// enduseredit内使用cssここまで

.center-cd{
  text-align: center;
  margin-top:30px;
}
.htag{
  margin-bottom: 15px;
}
.submitbtn{
  margin-top:15px;
  margin-bottom:15px;
}

#container{
  height: 500px;
  width: 50%;
  display: block;
  margin: 0 auto;
}


.image1 {
background-image: url(image1.jpg);
background-size: cover;
background-position: center;
}
.image2 {
background-image: url(image2.jpg);
background-size: cover;
background-position: center;
}
.image3 {
background-image: url(image3.jpg);
background-size: cover;
background-position: center;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.center-table{
  display: inline-block;
  margin-right: 20px;
}


.td-box {
  display: block;
}

.tr-float {
  float: left;
}

ul li a{
    color: #ffffff;
}

// やばくなったら書き換えるとこ

// .col-xs-4 {
//   margin-top: 2%;
// }

// やばくなったら書き換えるとこ

